
*{
margin:0;
padding:0;
}

header{
    background-color: #9400d3;
    height: 60px;
}



#menu{
    display: flex;
    justify-content: flex-end;
    padding-top: 10px;
    font-size: 22px;  
    border-style: outset;
}

a:active{
    color: black;
}

.btn{
    color:white;
    background: transparent;
    padding: 10px 20px;
    text-decoration: none;
    text-transform: uppercase;
}


body{
        background-color: #DAE5E8;
       
}

.primeira-metade{
    display:flex;
    justify-content: space-between;
    height: 20px;
    align-items: center;
    border-style:ridge;
    border-radius: 50px;
    background-color: chocolate;
    margin-right: 540px;
}

@media screen and (max-device-width: 480px) {
    .container-imagens{

    grid-template-columns: 1fr;
    }
}
    


.container-imagens{
    display:grid;
    grid-template-columns: 1fr 1fr;
    flex-wrap: wrap;
    margin-left: 150px;
    padding-top: 80px;
    padding-bottom: 20px;
    
}


img{
    height: 370px;
    width: 370px;
     border-radius: 70px; 
  
}

p{
    margin-left: 50px;
    padding:18px;
    color:chocolate;
    
}

h4{
    margin-left: 150px;
    margin-bottom: 40px;
}


.segunda-metade{
    
    display:flex;
    justify-content: space-between;
    height: 20px;
    align-items: center;
    border-style:ridge;
    border-radius: 50px;
    background-color: chocolate;
    margin-right: 250px;
}


h2{
    margin-left: 60px;
}


@media screen and (max-device-width: 480px) {
    .container-segunda-metade{

        margin-left: 70px;
        padding: 20px;
        display:grid;
        grid-template-columns: 1fr;
}
}

.imgs-parte2{

    margin-left: 420px;
    margin-top: 40px;
    
}

footer{
    display: grid;
    grid-template-columns: 3 1fr;
    background-color: #9400d3;
    width: 100vw;
    margin-top: 20px;
}

.texto-footer{
    
    color: white;
    justify-content: flex-start;
    padding-top: 50px;
    padding-left: 9.9%;
}

#whatsapp{
    width: 80px;
    height: 80px;
}

#facebook{
    width: 80px;
    height: 80px;
}

#instagram{
    width: 80px;
    height: 80px;
}